<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <script defer src="js/vue.js"></script>
    <script  defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="cart">
            <p>Cart({{ carts.length }})</p>
            <p v-if="carts.length === 0">Cart is empty</p>
            <div v-else>
                <p v-for="cart in carts">
                    <p>Product name: Vue Mastery Socks</p>
                    <p v-if="carts[0] === 2235">Color: blue</p>
                    <p v-else-if="carts[0] === 2234">Color: green</p>
                    <p>Size: {{carts[1]}}</p>
                    </p>
            </div>
        </div>     
        <product :premium="premium" @add-to-cart="updateCart" @subtraction-to-cart="subtractionCart"></product>
        <product-review></product-review>
     </div>
</body>
</html>